#hawaii {
  display: none;
}

#ethiopia {
  display: none;
}

#honduras {
  display: none;
}

#vietnam {
  display: none;
}

.hawaiian {
  color: yellow;
}

.ethiopian {
  color: red;
}

.honduran {
  color: green;
}

.vietnamese {
  color: blue;
}

.clickable {
  cursor: pointer;
  color: #0088cc;
}
.clickable:hover {
  text-decoration: underline;
}

#ethiopia-showing {
  display: none;
}
